.settings
.vscode
Debug/
.project
Debug/app.d
Debug/app.o
Debug/bootloader_uds.eep
Debug/bootloader_uds.elf
Debug/bootloader_uds.hex
Debug/bootloader_uds.lss
Debug/bootloader_uds.map
Debug/flashing_manager.d
Debug/flashing_manager.o
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/subdir.mk
.cproject
Debug/